<% provide(:title, 'Adopt') %>

<h1> Adopt a Pet Today </h1>

<p>Thank you for considering the adoption of this pet.  Please click on the email link or call today to schedule a play date with your new pet. All pets have uptodate shots and immunizations. <%= link_to "Call Now", url: :root %> </p>
