<% provide(:title, 'Home') %>

<div class="center hero-unit">

<h1>Adopt A Pet Today</h1>

<p>Setup list of pets available for adoption. This will be the home page.</p>

<p> Make a happy home together. </p>

<%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %>
</div> <!-- hero-unit -->
