<% provide(:title, 'Home') %>

<h1>Adopt A Pet</h1>

<p>Setup list of pets available for adoption. This will be the home page.</p>

<p> Make a happy home together. <%= link_to "Clay.Ashby", url: :root %> </p>
