<footer class="footer">
  <div>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </div>
  <div>
    <a href="http://spca.org/">Society for the Prevetion of Cruelty to Animals</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Adopt",   '#' %></li>
      <li><%= link_to "Give", '#' %></li>
      
    </ul>
  </nav>
</footer>