<footer class="footer">
  <small>
    <a href="http://spca.org/">Society for the Prevetion of Cruelty to Animals</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Adopt",   '#' %></li>
      <li><%= link_to "Give", '#' %></li>
      
    </ul>
  </nav>
</footer>